@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .card {
        @apply flex flex-col bg-gray-800 my-4 rounded-xl border border-gray-200 w-full;
    }

    .card-header {
        @apply flex flex-row items-center p-5 text-white;
    }

    .card-body {
        @apply text-white;
    }

    .card-footer {
        @apply border-t-gray-200 p-3 mt-5;
    }

    .comment-feild {
        @apply text-white p-2 grow resize-none overflow-hidden border-none rounded-md placeholder-gray-400 outline-0 focus:right-0 bg-gray-800;
    }

    .post-comment-btn {
        @apply ml-3 border-none text-blue-500;
    }
}

.material-symbols-outlined.fill,
.icon-filled {
    font-variation-settings: 'FILL' 1;
}

@layer utilities {
    input[type="file"]::file-selector-button {
        @apply inline-flex items-center py-2 bg-gray-800 border border-transparent font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 transition ease-in-out duration-150 cursor-pointer;
        margin-inline-start: -1rem;
        margin-inline-start: .05rem;
    }

    input[type="file"]:disabled::file-selector-button {
        opacity: 0.25;
    }
}